{% extends 'base2.html' %}

{% load static %}

{%block title %} about{% endblock %}

{% block content %}

<div class="jumbotron text-center mt-2">
    <h1 class="display-4">About Us</h1>
    <p class="lead">This is a blog about everything, from programming to gardening, cooking recipies etc <br>
        cooking basically trying out anything new :),<br>
        written by <strong style="color: burlywood;">Rose Mutai</strong> a software developer</p>
    <hr class="my-4">
    <p>Hope you will enjoy.</p>
    <p class="lead">
        <!-- <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a> -->
    </p>
</div>

     

{% endblock %}