{% extends 'base2.html' %}

{% load static %}

{%block title %} about{% endblock %}

{% block content %}

     <strong>
         <center>About Us
            <p>Welcome to my blog</p>
            <p>This is a blog about everything, from programming to gardening, <br>
                cooking basically trying out anything new :),<br>
                written by  Rose Mutai a software developer
                <p>Hope you will enjoy</p>
            </p>
        </center>

     </strong>

          <br>

     

{% endblock %}