{% extends 'base.html' %}
{% load static %}

{% block title %} articles{% endblock %}

{% block content %}

<div class="container">
    <section class="text-center mb-4">
        <div class="row wow fadeIn">
            {% for article in articles %}
            <div class="col-lg-3 col-md-6 mb-4">
                <br>
                <br>
                <div class="card">
                    <div class="view overlay">
                       <p class="post-title ml-3" href="{% url 'programming' %}">
                           <h3 class="card-title ">{{  article.title }} </h3>
                       </p>
                        <a href="{{ article.get_absolute_url }}">
                            <img class="card-img-top custom" src="{{ article.post_image.url }}" alt="">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <a href="" class="grey-text">
                        </a>
                        <b>
                            <p class="mycard-text">{{ article.description }} </p>
                        </b>
        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</div>
{% endblock %}