{% extends 'base.html' %}

{% load static %}

{%block title %} comment {% endblock %}

{% block content %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
  
      <!--Grid row-->
      <div class="row wow fadeIn">
  
        <!--Grid column-->
        <div class="col-md-6 mb-4">
  
          <img src="{{ post.post_image.url }}" class="img-fluid" alt="">
  
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
  
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{post.category }}</span>
              </a>
            </div>
  
            
            <p class="lead font-weight-bold">Description</p>
  
            <p>{{ post.description }}</p>
             
            
                <div class="comments">
                  {% for comm in get_comments %}
       
                  <p> {{ comment.created_on |timesince }}|{{ comment.created_on |timesince }}ago</p>
                  {{ comment.content  }}

                  {% endfor %}
             </div>
            <p>{{ post.body }}</p>
            {{post.id}}
            <br>
  
            

            <a href="#" onClick="document.getElementById('likebutton').submit()" class="btn btn-primary btn-md my-0 p">Like</a> {{post.likes}}   |   
            <a href="#" onClick="document.getElementById('dislikebutton').submit()" class="btn btn-danger btn-md my-0 p">Dislike</a> {{post.dislikes}}
          
            <form id="likebutton" method="POST" action="postdetail/{{post.id}}/1/">
                {% csrf_token %}
                <input type="hidden">
          </form>

           <form id="dislikebutton" method="POST" action="/0/">
                {% csrf_token %}
                <input type="hidden">
          </form>
    
          </div>
    
        </div>
          <!-- {% if request.user.is_authenticated %} -->
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="form-control col-md-12 mb-4">
                      {% for field in form %}
                      {{form.content.label}}
                       {{form.content }}
                       {% endfor %}
                       <br>
                      <button class="tn btn-primary mb-3">Submit</button>
                </div>
             
                   
              </div>
              
            </form>
            <!-- {% endif %} -->
      <br>
      <br>
      <br>
      </div>
    
  
      </div>
     
    </div>
  </main>

{% endblock %} 
