<footer style="background-color: burlywood;">
            <ul class="nav justify-content-center">
                        
                        <li style="padding: 8px;">
                            <a href="#"><span style=" color: rgb(49, 49, 151);"><i class="fa fa-facebook fa-lg"></i> </span></a>
                        </li>
                         <li style="padding: 8px;">
                             <a href="#"><span style=" color: Dodgerblue;"><i class="fab fa-twitter-square fa-lg"></i> </span></a>
                         </li>
                        <li  style="padding: 8px;">
                            <a href="#"><span style=" color:tomato;"><i class="fa fa-instagram fa-lg"></i> </span></a>
                        </li>
                        
                    </ul>
                   
        
    </footer>

