{% extends 'base.html' %}
{% load static %}

{% block title %} blog-home {% endblock %}

{% block content %}

<style>
    .categories,
    .trending{
        font-weight: 700;
        color: burlywood;
    }

   a.category-title{
        color: #777;
        text-decoration: none;
    }
    a.category-title:hover{
        background: burlywood;
        color: white;
    }

    .latest-blogs li{
        margin: auto;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col md-4 ml-2">
        <h3 class="categories mt-2 ">Categories</h3>
        <br>
        {% for cat in cat_count %}
        <h5><a  class="category-title" href="#">#{{ cat.category__name}}-</a>{{cat.category__name__count }}</h5>
        <br>
        <br>
        {% endfor %}


        <h3 class="trending mt-3">trending</h3>
        {% for post in featured_posts %}
        <a href="{{post.get_absolute_url }}"><span class="badge bg-info text-dark mt-3">{{post.title}}</span></a>
        {% endfor %}
    </div>
    <div class="col md-1"></div>

    
    {% for post in posts %}
     <div class="col md-7 ">
         <div class="card mt-2 mr-3" style="width: 32rem; border: none;">
            <img class="card-img-top custom" src="{{ post.post_image.url }}" alt="">
            <div class="card-body custom-body">
                <h5 class="card-title ">{{ post.title }} </h5>
                <p>{{ post.description }}</p>
                <a  href="{{ post.get_absolute_url }}" class="btn btn-primary"><b>More</b></a>
            </div>
        </div>
     </div>

    {% endfor %}

   
</div>
{% include 'footer.html' %}
{% endblock %}