{% extends 'base.html' %}
{% load static %}

{% block title %} blog-home {% endblock %}

{% block content %}

        <div class="row">
            
            <div class="col md-8" id="midbarner">
                {% for post in posts %}
                <p class="cat-link-custom" ><h3 class="card-title ">{{ post.title }} </h3></p>
                    <div class="card mt-3" style="width: 32rem; border: none;">
                        <img class="card-img-top custom" src="{{ post.post_image.url }}" alt="">
                        <div class="card-body custom-body">
                            <h5 class="card-title custom-alltitles"> 
                                <p>{{ post.likes }} likes  | {{ post.dislikes }} Dislikes</p>
                                
                                </h5>
                                <form id="likebutton" method="POST" action="post/{{post.id}}/preference/1">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>

                            <form id="dislikebutton" method="POST" action="post/{{post.id}}/preference/2">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                            <a href="{{ post.get_absolute_url }}"><b>{{ post.description }}</b></a>
                            <p class="card-text"> </p>
                            <!-- <a href="#" >Read More</a> -->

                        </div>
                        <br>
                    </div>    
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col md-4 ml-5">
                <h4><u>Categories</u></h4>
                <br>
                    {% for cat in cat_count %} 
                        <h5><a href="#">#{{ cat.category__name}}-</a> <b>{{cat.category__name__count }}</b></h5>
                        
                    <br>
                    {% endfor %}

                   <br>
            
                </div>

                
            </div>
        </div>
    </div>

{% endblock %}