{% extends 'base2.html' %}
{% load static %}

{% block title %} blog-detail {% endblock %}

{% block content %} 



<h2 class="text-center">Posts</h2>

<br />


<h3>Title: {{post_detail.title}}</h3>
<img src="{{post_detail.post_image.url}}" class="img-responsive" alt="">

<p></p> {{post_detail.body}}
<br />


<!-- <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> {{post.likes}} | <a href="#"
    onClick="document.getElementById('dislikebutton').submit()">Dislike This Post</a> {{post.dislikes}} -->

    <button type="submit" class="btn btn-primary btn-sm"
        onclick="document.getElementById('likebutton').submit()">Like</button>

    <button type="submit" class="btn btn-danger btn-sm"
        onclick="document.getElementById('dislikebutton').submit()">Dislike</button>

<form id="likebutton" method="POST" action="{{post.id}}/preference/1/">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="dislikebutton" method="POST" action="{{post.id}}/preference/2/">
    {% csrf_token %}
    <input type="hidden">
</form>



{% endblock %}


