{% extends 'base2.html' %}
{% load static %}

{% block title %} blog-detail {% endblock %}

{% block content %} 

<h3 class="postdetail-title ml-3 mt-3"> {{post_detail.title}}</h3>
<img id="postdetail-image" src="{{post_detail.post_image.url}}" class="img-responsive ml-3" alt="" width="500" height="200">

<p class="postdetail-body ml-3"></p> {{post_detail.body | linebreaks }}
<br />

    <p class="my-btns ml-3">
        <form action="{% url 'like_post' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="post_id"  value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
        </form>
        

        <button type="submit" class="btn btn-danger btn-sm"
            onclick="document.getElementById('dislikebutton').submit()">Dislike</button>
    </p>

<form id="likebutton" method="POST" action="{{post.id}}/preference/1/">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="dislikebutton" method="POST" action="{{post.id}}/preference/2/">
    {% csrf_token %}
    <input type="hidden">
</form>



{% endblock %}


