<h1>Posts</h1>

<br /><br />

<h1>Title: {{eachpost.title}}</h1>

<h1>Content: {{eachpost.content}}</h1>
<br />

<h1>Author: {{ eachpost.author }}</h1>


<a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> {{post.likes}} | <a href="#"
    onClick="document.getElementById('dislikebutton').submit()">Dislike This Post</a> {{post.dislikes}}


<form id="likebutton" method="POST" action="{{post.id}}/preference/1/">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="dislikebutton" method="POST" action="{{post.id}}/preference/2/">
    {% csrf_token %}
    <input type="hidden">
</form>
